@charset "utf-8";

:root {
    --color1: hsl(31, 77%, 52%);
    --color2: hsl(184, 100%, 22%);
    --color3: hsl(179, 100%, 13%);
    --color4: hsla(0, 0%, 100%, 0.75); /* paragraphs */
    --color5: hsl(0, 0%, 95%); /* bg, headings, btn */

    --ff-base: 'Lexend Deca', sans-serif;
    --ff-accent: 'Big Shoulders Display', cursive;

    --fw-normal: 400;
    --fw-bold: 700;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    min-height: 100vh;
}

/* Accessible line-height
   Improve text rendering */
body {
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas {
    display: block;
    max-width: 100%;
}

/* Remove built-in form typography styles */
input, button, textarea, select {
    font: inherit;
}

/* Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

h1, h2, h3 {
    line-height: 1;
}

/* General styling */

body {
    background-color: var(--color5);
    font-family: var(--ff-base);
    font-weight: var(--fw-normal);
    font-size: 15px;
    font-size: 0.938rem;
}

main {
    display: grid;
    place-content: center;
    min-height: calc(100vh - 32.4px);
}

.card {
    display: flex;
    flex-flow: column nowrap;
    width: 335px;
    width: 20.938rem;
    margin: 20px;
    margin: 1.25rem;
    border-radius: 10px;
    overflow: hidden;
}

@media only screen and (min-width: 920px) {
    .card {
        flex-flow: row nowrap;
        width: 920px;
        width: 57.5rem;
    }
}

.model {
    display: flex;
    flex-flow: column nowrap;
    gap: 30px;
    gap: 1.875rem;
    padding: 50px;
    padding: 3.125rem;
}

.model-sedan {
    background-color: var(--color1);
}

.model-suv {
    background-color: var(--color2);
}

.model-luxury {
    background-color: var(--color3);
}

.title {
    font-family: var(--ff-accent);
    font-weight: var(--fw-bold);
    font-size: 38.4px;
    font-size: 2.4rem;
    color: var(--color5);
    text-transform: uppercase;
}

.description {
    color: var(--color4);
}

.btn {
    border: solid 2px var(--color5);
    width: 150px;
    width: 9.375rem;
    height: 50px;
    height: 3.125rem;
    border-radius: 50px;
    background-color: var(--color5);
    transition-duration: .2s;
}

.btn-sedan {
    color: var(--color1);
}

.btn-suv {
    color: var(--color2);
}

.btn-luxury {
    color: var(--color3);
}

.btn:hover {
    cursor: pointer;
    background-color: transparent;
    color: var(--color5);
    transition-duration: .2s;
}

.footer {
    font-size: 12px;
    font-size: 0.75rem;
    text-align: center;
    padding: 6px;
}

.footer a {
    color: var(--color2);
}

.footer a:hover {
    color: var(--color1);
}